.about_me {
    height: 950px;
    width: auto;
    background: #e9e9e9;
    .navigation {
        height: 50px;
        width: auto;
        background: $backround-color;
        .sticky {
            @extend %menu_sticky;
        }
        @media (min-width: 900px) {
            .sticky {
                float: right;
            }
        }
    }
    @media (min-width: 400px) {
        .navigation {
            margin-top: -70px;
        }
    }
    @media (min-width: 600px) {
        .navigation {
            text-align: center;
        }
    }
    .name {
        display: inline-block;
        font-family: $font-peg;
        font-weight: bold;
        font-size: 18px;
        color: #fff;
        a {
            text-decoration: none;
            font-family: $font-peg;
            color: #fff;
        }
    }
}

@media (min-width: 400px) {
    .about_me {
        height: 800px;
    }
}

@media (min-width: 1500px) {
    .about_me {
        height: 1000px;
    }
}

@media (min-height: 1000px) {
    .about_me {
        height: 1100px;
    }
}

@media (orientation: portrait) and (min-height: 730px) {
    .about_me {
        height: 1100px;
    }
}

.menu_fixed {
    display: inline-block;
    float: left;
    margin-left: 5px;
    //margin-right: 5px;
    list-style-type: none;
    font-size: 13px;
    height: 2em;
    line-height: 2em;
    text-align: center;
    .name {
        display: none;
    }
    @media (min-width: 360px) {
        .name {
            display: inline-block;
        }
    }
    li {
        @extend %menu_li;
        a {
            @extend %menu_li_a;
        }
        @media (min-width: 600px) {
            a {
                font-size: 18px;
            }
        }
        @media (min-width: 1000px) {
            a {
                padding: 0 20px;
                font-size: 22px;
            }
        }
    }
    @media (min-width: 600px) {
        li {
            float: none;
            text-align: center;
        }
    }
}

@media (min-width: 600px) {
    .menu_fixed {
        float: none;
    }
}

.about-me-heading {
    padding-top: 60px;
    h3 {
        text-align: center;
        color: #2a2a2a;
        font-family: $font-peg;
        font-size: 40px;
        font-weight: bold;
    }
}

.decor {
    @extend %decor;
}

.about-me-decoration {
    @extend %about-me-decoration;
}

.diamond {
    @extend %diamond;
    &:after {
        @extend %diamond_after;
    }
}

.text_about_me {
    display: inline-block;
    text-align: left;
    line-height: 2em;
    padding: 30px 30px;
    font-family: $font-peg;
}

@media (min-width: 400px) {
    .text_about_me {
        padding-top: 60px;
    }
}

@media (min-width: 600px) {
    .text_about_me {
        padding: 60px 80px;
    }
}

@media (min-width: 700px) {
    .text_about_me {
        font-size: 18px;
    }
}

@media (min-width: 800px) {
    .text_about_me {
        padding: 60px 120px;
    }
}

@media (min-width: 1000px) {
    .text_about_me {
        padding: 40px 180px;
    }
}

@media (min-width: 1500px) {
    .text_about_me {
        padding: 70px 470px;
    }
}

.img_about_me {
    height: 350px;
    width: 350px;
    margin: 0 auto;
    display: none;
    img {
        height: 250px;
        width: 350px;
    }
}

@media (min-width: 1300px) {
    .img_about_me {
        display: block;
    }
}

@media (min-height: 1000px) {
    .img_about_me {
        display: block;
    }
}

@media (orientation: portrait) and (min-height: 730px) {
    .img_about_me {
        display: block;
    }
}