.footer {
    height: 50px;
    width: auto;
    background: $backround-color;
    text-align: center;
    p {
        padding-top: 14px;
        font-size: 18px;
        color: white;
        font-family: $font-peg;
        font-weight: bold;
    }
}

