header {
    min-height: 100vh;
    height: 600px;
    overflow: hidden;
    width: auto;
    background: #fff;
    background-image: url(../img/medium.jpg);
    background-repeat: no-repeat;
    text-align: center;
    font-weight: bold;
    .head {
        padding-top: 130px;
        font-size: 35px;
        font-family: $font-main-name;
        color: #fff;
        height: 250px;
        background: #191628;
    }
    @media (min-width: 500px) {
        .head {
            //padding-top: 136px;
            font-size: 37px;
        }
    }
    @media (min-width: 900px) {
        .head {
            //padding-top: 145px;
            font-size: 45px;
        }
    }
    @media (min-width: 1000px) and (min-height: 600px) {
        .head {
            height: 400px;
            padding-top: 30px;
            font-size: 50px;
        }
    }
    //    @media (min-height: 730px) {
    //        .head {
    //            height: 500px;
    //            font-size: 45px;
    //           // padding-top: 365px;
    //        }
    //    }
    @media (min-width: 1000px),
    (min-height: 700px) {
        .head {
            height: 450px;
            //padding-top: 85px;
        }
    }
    @media (min-height: 900px) {
        .head {
            height: 600px;
            padding-top: 175px;
        }
    }
    @media (min-width: 1900px) {
        .head {
            height: 650px;
            padding-top: 165px;
            font-size: 70px;
        }
    }
    @media (min-height: 1200px) {
        .head {
            height: 800px;
            padding-top: 320px;
        }
    }
    .me {
        display: none;
        margin: 0 auto;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background-image: url(../img/my_photo_small.jpg);
        background-repeat: no-repeat;
        border: 1px solid #191628;
        border-radius: 50%;
    }
    @media (min-width: 1000px),
    (min-height: 1000px) {
        .me {
            display: block;
        }
    }
    //     @media (min-width: 1200px) {
    //        .me {
    //             width: 300px;
    //    height: 300px;
    //        }
    //    }
    //    .name{
    //        padding
    //    }
    .title {
        font-family: $fony-frontend;
        font-size: 15px;
        margin-top: -81px;
        color: #fff;
    }
    @media (min-width: 900px) {
        .title {
            margin-top: -60px;
            font-size: 18px;
        }
    }
    @media (min-width: 1000px) and (min-height: 600px) {
        .title {
            margin-top: -65px;
        }
    }
    @media (min-width: 1900px) {
        .title {
            font-size: 25px;
            margin-top: -100px;
        }
    }
    @media (orientation: portrait) and (min-height: 730px) {
        .title {
            font-size: 17px;
        }
    }
    .gray {
        background: gray;
        opacity: 0.5;
    }
    .navi_buttons {
        margin: 0 auto;
        margin-top: 250px;
        p {
            display: inline-block;
            height: 40px;
            width: 150px;
            border-radius: 4px;
            margin-bottom: 10px;
            padding-top: 13px;
            font-size: 15px;
            a {
                display: block;
                color: #fff;
                text-decoration: none;
                font-family: $font-peg;
                padding: 0 5px;
                margin-bottom: 10px;
            }
        }
        @media (min-width: 900px) {
            p {
                height: 42px;
                width: 190px;
                font-size: 18px;
                margin-left: 25px;
            }
        }
        @media (min-width: 1100px) {
            p {
                height: 48px;
                width: 210px;
                font-size: 22px;
            }
        }
        .navi_buttons_white {
            background-color: #454343;
            a {
                color: $backround-color;
            }
            &:hover {
                background-color: #838194;
                a {
                    color: #fff;
                }
            }
        }
        .navi_buttons_color {
            background-color: $backround-color;
            a {
                color: #fff;
            }
            &:hover {
                background-color: #838194;
                a {
                    color: #fff;
                }
            }
        }
    }
    @media (min-width: 400px) {
        .navi_buttons {
            margin: 260px auto;
            padding: 0 20px;
        }
    }
    @media (min-width: 900px) {
        .navi_buttons {
            margin: 180px auto;
        }
    }
    @media (min-width: 1000px) and (min-height: 600px) {
        .navi_buttons {
            margin: 90px auto;
        }
    }
     @media (min-width: 1000px) and (min-height: 800px) {
        .navi_buttons {
            margin: 140px auto;
        }
    }
//    @media (orientation: landscape) and (max-height: 725px) {
//        .navi_buttons {
//            margin: 150px auto;
//        }
//    }
    @media (orientation: portrait) and (min-height: 730px) {
        .navi_buttons {
            margin: 250px auto;
        }
    }
    @media (min-height: 400px) and (max-height: 530px) {
        .navi_buttons {
            margin: 150px auto;
        }
    }
}

@media (min-width: 400px),
(min-height: 600px) {
    header {
        background-image: url(../img/medium.jpg);
    }
}

//@media (min-height: 600px) {
//    header {
//        background-image: url(../img/medium1.jpg);
//    }
//}
@media (min-width: 600px) {
    header {
        background-image: url(../img/str13.jpg);
    }
}

//@media (min-width: 670px) {
//    header {
//        background-image: url(../img/str6.jpg);
//    }
//}
//@media (min-height: 600px) {
//    header {
//        height: 800px;
//    }
//}
//@media (min-height: 700px) {
//    header {
//        height: 1100px;
//        background-image: url(../img/str12.jpg);
//    }
//}
@media (orientation: portrait) and (min-height: 730px) {
    header {
        min-height: 100vh;
        height: 1025px;
    }
}

@media (min-height: 800px) {
    header {
        height: 830px;
    }
}

@media (min-height: 900px) {
    header {
        height: 930px;
    }
}

@media (min-width: 1000px) {
    header {
        //height: 800px;
        background-image: url(../img/str14.jpg);
    }
}

@media (min-width: 1280px) {
    header {
        //height: 800px;
        background-image: url(../img/str15.jpg);
    }
}

@media (min-width: 1500px) {
    header {
        background-image: url(../img/str16.jpg);
    }
}

@media (min-height: 1000px) {
    header {
        background-image: url(../img/str11.jpg);
        height: 1100px;
    }
}

@media (min-height: 1200px) {
    header {
        height: 1210px;
    }
}